/* styles.css */
body {
    font-family: monospace;
}

.hero {
    background: linear-gradient(to right, #6a1b9a, #d27fe0);
    height: 100vh;
    color: #020202;
}

.text-purple {
    color: #6a1b9a;
}

.text-gold {
    color: #d4af37;
}

.bg-purple {
    background-color: #6a1b9a;
}

img {
    border: 3px solid #d4af37;
}